pystac-client==0.8.6
shapely==2.1.1
rioxarray==0.19.0
affine==2.4.0
attrs==25.3.0
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
geopandas==1.0.1
idna==3.10
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
numpy==2.2.6
packaging==25.0
pandas==2.2.3
pyogrio==0.11.0
pyparsing==3.2.3
pyproj==3.7.1
pystac==1.13.0
python-dateutil==2.9.0.post0
pytz==2025.2
rasterio==1.4.3
referencing==0.36.2
requests==2.32.3
rpds-py==0.25.1
six==1.17.0
tzdata==2025.2
urllib3==2.4.0
utm==0.8.1
xarray==2025.4.0